@model List<testroledetail>
@{
    ViewData["Title"] = "UserRoleAuthorizationDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Authorization</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        @using (Html.BeginForm("UserRoleAuthorizationDetail", "Admin", FormMethod.Post, new { id = "editPropertiesForm" }))
        {

            <tr>
                <td>@item.ID</td>
                <td>@item.UserNamee</td>
                <td>@item.RoleName</td>
                @*<td><button type="submit" name="RoleNameID" value="@item.RoleID" class="btn btn-outline-danger">Sil</button></td>*@
                <td>
                    @*<button id="btn-submit" name="RoleNameID" value="@item.RoleID" class="btn btn-outline-danger btn-sm demo4">
                            Sil
                        </button>*@
                    <button type="submit" id="test1" name="RoleNameID" value="@item.RoleID" class="btn btn-outline-danger btn-sm demo4">
                        Sil
                    </button>
                </td>
                <td><input id="RoleNameID" type="hidden" name="RoleNameID" value="@item.RoleID" /></td>

            </tr>
        }
    }

</table>


@section script1
{


    < type="text/javascript">


    <script type="text/javascript">


        $(".demo4").click(function (e) {
            const fired_button = $(this).val();
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {

                    if (isConfirm) {
                        $('#RoleNameID').val(fired_button);
                        $('#editPropertiesForm').submit();
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    } else {
                        swal("Cancelled", "Your imaginary file is safe :)", "error");

                    }
                });

        })


                //$('.demo4').on('click', function (e) {
                //    e.preventDefault();
                //    var form = $(this).parents('form').children('submit_form');
                //    swal({
                //        title: "Are you sure?",
                //        text: "You will not be able to recover this task!",
                //        type: "info",
                //        showCancelButton: true,
                //        confirmButtonColor: "#DD6B55",
                //        confirmButtonText: "Yes, Send it!",
                //        closeOnConfirm: false
                //    }, function (isConfirm) {
                //        if (isConfirm)  form.submit();
                //    });
                //});

                //$('.demo4').click(function (e) {
                //    e.preventDefault();

                //    Swal.fire({
                //        title: 'Are you sure?',
                //        text: 'You want to delete record',
                //        icon: 'warning',
                //        showCancelButton: true,
                //        timer: 4000,
                //        timerProgressBar: true,
                //        confirmButtonColor: '#3085d6',
                //        cancelButtonColor: '#d33',
                //        confirmButtonText: 'Yes, delete it!'
                //    }).then((result) => {
                //        if (result.isConfirmed) {
                //            $(e.target).closest('form').submit() // Post the surrounding form

                //        }
                //    })



                //});



                //function functionConfirm(event) {
                //    swal({
                //        title: "Are you sure?",
                //        text: "Your will not be able to recover this imaginary file!",
                //        type: "warning",
                //        showCancelButton: true,
                //        confirmButtonColor: "#DD6B55",
                //        confirmButtonText: "Yes, delete it!",
                //        cancelButtonText: "No, cancel plx!",
                //        closeOnConfirm: false,
                //        closeOnCancel: false
                //    },
                //        function (isConfirm) {

                //            if (isConfirm) {
                //                $('form').submit();

                //                swal("Deleted!", "Your imaginary file has been deleted.", "success");
                //                return true;
                //            } else {
                //                swal("Cancelled", "Your imaginary file is safe :)", "error");
                //                return false;
                //            }
                //        });
                //    return false;
                //};








    </script>

}



